.subNav {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: medium;
  font-weight: 400;
  gap: 5%;
  justify-content: center;
  position: sticky;
  top: 90px;
  z-index: 1000;
  background-color: white;
  height: 50px;
  padding-bottom: 7px;
  a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 100px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #b31c69;
      font-size: small;
    }

    &.active {
      text-decoration: underline;
      font-weight: bold;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
    }
  }
}
