.main {
  background-color: #116530;
  color: white;
  position: sticky;
  top: 0;
  z-index: 7000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding: 2px;

  .left {
    display: flex;
    align-items: center;
    font-size: small;
    padding: 1%;
    font-family: "Caveat";
    font-size: large;

    img {
      display: block;
      margin: 15px;
      width: 30px;
      height: 30px;
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    div {
      width: 25px;
      height: 3px;
      background-color: rgb(255, 255, 255);
      margin: 5px 0;
    }
  }

  .middle {
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    gap: 5%;
    justify-content: center;
    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      width: 100px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #f49d1a;
        font-size: small;
      }

      &.active {
        text-decoration: underline;
        font-weight: bold;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: 500;
    gap: 10%;
    margin-right: 2%;

    .cart-flex {
      display: flex;
      flex-direction: column;
      padding-right: 10px;
      padding-bottom: 12px;
      span{
        align-self: flex-end;
        margin-right: -10px;
        margin-bottom: -5px;
        background-color: #F8333C;
        border-radius: 6px;
        width: 20px;
        padding-bottom: 2px;
        text-align: center;
      }
      .cart-icon {
        margin-top: 2px;
        width: 25px;
        height: 20px;
      }
    }

    img {
      margin-top: 2px;
      width: 20px;
      height: 17px;
    }

    .userInfo {
      text-decoration: none;
      width: 150px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;
      padding: 2px;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      background-color: #FCAB10;
      color: rgb(0, 0, 0);
      &:hover {
        font-size: smaller;
        background-color: #ffa600;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    .header {
      .left {
        .logo {
          display: none;
        }
      }
      .hamburger-menu {
        display: flex;
        img {
          width: 20px;
          margin-left: 10px;
          height: 30px;
          margin-bottom: 10px;
          transition: transform 0.3s ease-in-out;
        }
        .rotated img {
          transform: rotate(90deg);
        }
      }

      .mobile-menu {
        display: flex;
        flex-direction: column;
        background-color: hsl(137, 100%, 99%);
        margin: 0;
        padding: 10px;
        width: 50%;
        height: 100vh;
        font-size: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 90px;
        left: 0;
        z-index: 5000;

        a {
          text-decoration: none;
          color: rgb(53, 53, 53);
          margin-bottom: 10px;
          margin-left: 15px;
          line-height: 40px;

          &.active {
            background-color: #FCAB10;
            padding-left: 12px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            text-decoration-thickness: 2px;
            text-underline-offset: 8px;
            width: auto;
          }
        }
      }
      .middle {
        display: none;
      }
      .right {
        .userInfo {
          font-size: small;
          width: 105px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 2px;
          margin-right: 0px;
          padding-right: 0px;
          padding: 2px;
          border-radius: 10px;
          text-align: center;
          text-decoration: none;
          &:hover {
            font-size: small;
          }
        }
      }
    }
  }
}

// dark mode stylings
.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode input {
  background-color: #000000;
  color: #ffffff;
  border-color: #fff;
}
