.main {
  background-color: #b31c69;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding: 2px;

  .left {
    display: flex;
    align-items: center;
    font-size: small;
    padding: 1%;
    font-family: "Caveat";
    font-size: large;

    img {
      display: block;
      margin: 15px;
      width: 30px;
      height: 30px;
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    div {
      width: 25px;
      height: 3px;
      background-color: rgb(255, 255, 255);
      margin: 5px 0;
    }
  }

  .middle {
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    gap: 5%;
    justify-content: center;
    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      width: 100px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #f49d1a;
        font-size: small;
      }

      &.active {
        text-decoration: underline;
        font-weight: bold;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: 500;
    gap: 10%;
    margin-right: 2%;

    img {
      margin-top: 2px;
      width: 20px;
      height: 17px;
    }

    a {
      text-decoration: none;
      width: 150px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;
      padding: 2px;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      background-color: #f49d1a;
      color: rgb(0, 0, 0);
      &:hover {
        font-size: smaller;
        background-color: rgb(241, 166, 54);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    .header {
      .left {
        .logo {
          display: none;
        }
      }
      .hamburger-menu {
        display: flex;
        img {
          width: 20px;
          margin-left: 10px;
          height: 30px;
          margin-bottom: 10px;
        }
      }

      .mobile-menu {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        margin: -8px;
        padding: 10px;
        width: 50%;
        height: 100vh;
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 100px;

        a {
          text-decoration: none;
          color: black;
          margin-bottom: 10px;
          margin-left: 15px;
          line-height: 40px;

          &.active {
            background-color: #f49d1a;
            font-weight: bold;
            padding-left: 12px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            text-decoration-thickness: 2px;
            text-underline-offset: 8px;
          }
        }
      }
      .middle {
        display: none;
      }
      .right {
        a {
          font-size: smaller;
          width: 105px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 2px;
          margin-right: 0px;
          padding-right: 0px;
          padding: 2px;
          border-radius: 10px;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

// dark mode stylings
.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode input {
  background-color: #000000;
  color: #ffffff;
  border-color: #fff;
}
